body, html {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
:root {
  --basic-color: #23cc71;
}
.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Amiri', serif;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
}
.container h1 {
  font-size: 60px;
  text-align: center;
  color: var(--basic-color);
}
.repo-container {
  width: 50%;
  height: 700px;
  margin: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}
@media screen and (max-width: 600px) {
  .repo-container {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}
.repo-text {
  font-weight: 600;
}
.repo-description {
  font-weight: 600;
  font-style: bold;
  color: var(--basic-color);
}
.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

.list {
  list-style: circle;
}

.Block{
  position: relative;
  background-color: #fff;
  width: 600px;
  height: 450px;
  border: none;
  border-radius: 5%;
  text-align: center;


  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.App {
  /* The image used */
  /* background-image: url(https://media.giphy.com/media/3og0IIB0CrEPomHBYs/giphy.gif);  */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App h1{
  position: relative;
  top: -4%;
}


.item1 { 
  grid-area: header;
  border-radius: 6%; 
 
}
.item2 { grid-area: footer; }

.grid-container {
  
  display: grid;
  grid-template-areas:
    'header'
    'footer';
    grid-template-rows: 57% 43%;
  grid-gap: 0px;
  padding: 0px;
  height: inherit;
}


.grid-container > section {
 
  overflow: hidden;
  padding: 0 0;

}


.searchBox {
  position: absolute;
  top: 0%;
  left: 50%;
  transform:  translate(-50%,50%);
  background: #fff;
  height: 30px;
  border-radius: 40px;
  padding: 10px;
}
.searchInput{
  border: none;
  outline: none;
  font-size: 15px;
}


.item1 h2{
  font-size: 30px;
  margin-top: 15px;
  font-weight: 900;
}
.item1 h2{
  position: relative;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

.item1 h3{
  margin-top: -10px;
}

.item1 {
  
  /* The image used */
  /* background-image: url(../src/assets/delhiday.jpg); */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@keyframes mymove {
  from {top: -100px;}
  to {top: 0px;}
}

.item1 h3 {
  position: relative;
  animation: myleft 3s;
  animation-fill-mode: forwards;
}

@keyframes myleft {
  from {left: -100px;}
  to {left: 0px;}
}


.item1 h2,h3{
  text-align: start;
  margin-left: 25px;
  margin-bottom: 0px;
}

.item2 p{
  text-align: start;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color:#283747;
  font-weight: 600;
  text-transform: capitalize;
}
.item2 img{
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  width:95px
}

.item2 h4 {
  font-size: 18px;
  margin: 5px 10px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  
  padding: 10px;
  flex: 50%;
}

.flex-item-mid {

  padding: 10px;
  flex: 50%;
}
.flex-item-right {
 
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 530px) {
  .flex-container {
    flex-direction: column;
  }
}

.moredetails .flex-item-left{
  padding-top: 0px;
}
.moredetails .flex-item-mid{
  padding-top: 0px;
}
.moredetails .flex-item-right {
  padding-top: 0px;
}
.moredetails p{text-align: center;

}
.moredetails img {

  width: 75px;
}
.main .flex-item-right {
  padding-top: 0px;
}



.footer {
  display: inline;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  font-weight: 600;
  margin: auto;
  width: 300px;
  height: 50px;
  color:black;
  text-align: center;
 
}
.aboutme {
  
  padding: none;
}
.aboutme > .name a{
   text-decoration: none;
   color: #000;
   letter-spacing: 0.00875em;
   font-size: 20px;
   font-weight: 900;
  
 }

 /* Responsive layout - makes a one column-layout instead of two-column layout */
 /* .searchBox {
  top: 5%;
} */

@media  (min-width: 531px) and (max-width: 650px){

.Block{
    width: 500px;
     height: 400px;
  }
  .moredetails img {
    width: 60px;
}
.item2 p {
  font-size: 14px;
}
.moredetails p {
  font-size: 17px;
}

}

@media  (min-width: 430px) and (max-width: 530px){

  .Block {
    width: 400px;
    height: 500px;
}
.item2 h4 {
  font-size: 15px;
  
}
  .main img {
    
      left: 10%;
      float: left;
      margin-top: 0px;
      margin-bottom: 0px;
      width: 120px;
      position: relative;
  }
  .moredetails img {
    width: 60px;
    float: left;
}
  .item2 p {
    font-size: 15px;
    text-align: center;
  }
  .moredetails p {
    display: inline-block;
    text-align: center;
    font-size: 17px;
  }
  
.moredetails{
  flex-direction: row;
}

.grid-container {
  grid-template-rows: 50% 50%;
}
}


@media  (min-width: 380px) and (max-width: 429px){
  .item1 h2 {
    font-size: 27px;
    margin-top: 10px;
    font-weight: 900;
}

  .Block {
    width: 320px;
    height: 500px;
   }
     
.moredetails{
  flex-direction: row;
}
.main img {
  left: 10%;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 120px;
  position: relative;
 
}
.moredetails img {
  width: 60px;
  float: left;
}
.item2 p {
  font-size: 15px;
  text-align: center;
}
.moredetails p {
  display: inline-block;
  text-align: center;
  font-size: 17px;
}
  .grid-container {
   grid-template-rows: 40% 60%;
  }

}
@media  (min-width: 300px) and (max-width: 379px){

  .item1 h2 {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 900;
}
  .Block {
    width: 280px;
    height: 500px;
}
.moredetails{
  flex-direction: row;
}
.main img {
  left: 5%;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 120px;
  position: relative;
 
}
.moredetails img {
  width: 60px;
  float: left;
}
.item2 p {
  font-size: 15px;
  text-align: center;
}
.moredetails p {
  display: inline-block;
  text-align: center;
  font-size: 17px;
}
  .grid-container {
   grid-template-rows: 40% 60%;
  }

}
@media  (min-width: 210px) and (max-width: 299px){
  .item1 h2 {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 900;
}

  .Block {
    width: 250px;
    height: 500px;
}
.moredetails{
  flex-direction: row;
}
.main img {
  left: 5%;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 120px;
  position: relative;
 
}
.moredetails img {
  width: 60px;
  float: left;
}
.item2 p {
  font-size: 15px;
  text-align: center;
}
.moredetails p {
  display: inline-block;
  text-align: center;
  font-size: 17px;
}
  .grid-container {
   grid-template-rows: 40% 60%;
  }

}